<%- include('../layout/head', {title: 'Lista De Funcionários' }) %>

    <%- include('../layout/nav') %>

        <div>
            <section class="section">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column">
                            <div class="buttons is-centered">
                                <a href="/persons/new" class="button is-primary is-medium">Novo Cadastro</a>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-centered">
                        <div class="column">
                            <div class="table-container">
                                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                                    <thead>
                                        <tr class="has-background-dark">
                                            <th class="has-text-white">Nome</th>
                                            <th class="has-text-white">Email</th>
                                            <th class="has-text-white">Telefone</th>
                                            <th class="has-text-white">Tarefas</th>
                                            <th class="has-text-white">Opções</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% persons.forEach(p=>{%><tr>
                                                <td>
                                                    <%=p.name %>
                                                </td>
                                                <td>
                                                    <%=p.email %>
                                                </td>
                                                <td>
                                                    <%=p.tel %>
                                                </td>
                                                <td class="has-text-centered">
                                                    <a href="/persons/<%= p._id %>" class="button is-primary is-small">
                                                        <%=p.tasks.length%>
                                                    </a>
                                                </td>
                                                <td class="has-text-centered">
                                                    <a class="button is-primary is-small"
                                                        href="/persons/<%= p._id%>/edit">Editar</a>
                                                    <a class="button is-danger is-small">Excluir</a>
                                                </td>
                                            </tr>

                                            <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <%- include('../layout/footer') %>